@charset "UTF-8";

/*******contact_content*******/

div.top_menu{
	width:100%;
	border-top:10px solid #33b5cc;
} 
div.top_menu>ul{
	text-align:right;
	list-style-type:none;
	padding:0;
	margin:56px 352px 0 0;
}
div.top_menu li{
	display:inline-block;
}
div.top_menu a{
	text-decoration:none;
	color:gray;
	font-size:15px;
	font-weight:bold;
	padding:10px;
}
div.top_menu a:hover{
	color:#33b5cc;
}

@media screen and (max-width:1300px){
	div.top_menu>ul{
		width:1000px;
	}
}



div.contact_content{
	text-align:center;
	margin-bottom:-50px;
}
div.nemo{
	width:40%;
	height:1000px;
	background-color:#f4e7d3;
	margin-top:-76px;
}
div.contact_content>img{
	display:inline-block;
	position:absolute;
	margin:-850px 0 70px -30%;
	animation: fadein 2s;
}
div.contact_text{
	position:absolute;
	width:600px;
	height:300px;
	margin:-500px 0 70px 40%;
	vertical-align:middle;
	animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

div.sns_img{
	text-align:left;
	margin-left:100px;
}
div.sns_img img{
	padding:8px;
	
}
div.sns_img img:hover{
	opacity:0.5;
}
div.text_img{
	margin-top:20px;
}

