*{
	margin:0;
	padding:0;
}
header div{
	width:80%;
	margin:auto;
}
/******************
	header style
******************/

header{
	width:100%;
	border-top:10px solid #33b5cc;
}
header div{
	text-align:center;
}
.title{
	display:inline-block;
	text-align:center;
	margin-top:30px;
	font-size:50px;
	font-weight:bold;
	cursor:pointer;
}
header ul{
	text-align:right;
	list-style-type:none;
	padding:0;
	margin-top:-40px;
}
header li{
	display:inline-block;
}
header a{
	text-decoration:none;
	color:gray;
	font-size:15px;
	font-weight:bold;
	padding:10px;
}
header a:hover{
	color:#33b5cc;
	margin-bottom:5px;
}

@media screen and (max-width:1300px){
	header ul{
		margin-top:20px;
	}
}



/******************
	main style
******************/

.content{
	height:1000px;
}




/******************
	footer style
******************/

footer{
	weight:100%;
	height:100px;
	background-color:#33b5cc;
}


