@charset "UTF-8";

*{
	margin:0;
	padding:0;
}
header>div, div.content section{
	width:1200px;
	margin:auto;
}

/***************
	header 
***************/
 
header{
	width:100%;
	border-top:10px solid #33b5cc;
	padding-bottom:50px;
} 
header div{
	text-align:center;
}
.title{
	display:inline-block;
	text-align:center;
	margin-top:30px;
	font-size:50px;
	font-weight:bold;
	cursor:pointer;
}
header ul{
	text-align:right;
	list-style-type:none;
	padding:0;
	margin-top:-40px;
}
header li{
	display:inline-block;
}
header a{
	text-decoration:none;
	color:gray;
	font-size:15px;
	font-weight:bold;
	padding:10px;
}
header a:hover{
	color:#33b5cc;
}

@media screen and (max-width:1300px){
	header ul{
		margin-top:20px;
	}
}



/***************
	content 
***************/










/***************
	footer
***************/

footer{
	weight:100%;
	background-color:#33b5cc;
	margin-top:50px;
	padding:50px;
}
div.contact_infor{
	width:50%;
	margin:0 auto;
}
/* footer img{
	display:inline-block;
	position:relative;
	top:60px;
	left:-280px;
} */
footer h3{
	border-bottom:3px solid white;
	display:inline-block;
	font-size:30px;
	font-weight:bold;
	color:white;
	/* margin-top:-50px; */
	margin-bottom:20px;
}
footer p{
	line-height:35px;
	color:white;
}
div.sns{
	text-align:right;
	margin-top:-60px;
}
footer a{
	display:inline-block;
}
footer img{
	width:40px;
	margin:0 3px;
	opacity:1;
}
footer img:hover{
	opacity:0.5;
}

div.copy{
	border-top:1px solid white;
	width:50%;
	margin:20px auto;
	padding-top:5px;
}
footer span{
	color:white;
}
@media screen and (max-width:1300px){
	footer div.contact_infor, div.copy{
		width:700px;
	}
}



/*******위로 이동 스크롤*******/

#back-to-top {
  display:inline-block;
  border:3px solid #d0c6ae;
  width:30px;
  height:30px;
  text-align:center;
  border-radius:30px;
  position:fixed;
  bottom:50px;
  right:50px;
  transition:background-color .3s, opacity .5s, visibility .5s;
  opacity:0;
  visibility:hidden;
  z-index:1000;
}
#back-to-top::after {
  content:"\f077";
  font-family:FontAwesome;
  font-weight:normal;
  font-style:normal;
  font-size:1em;
  line-height:27px;
  color:#d0c6ae;
}
#back-to-top:hover {
  cursor:pointer;
  background-color:#897e70;
}
#back-to-top:active {
  background-color:#d0c6ae;
}
#back-to-top.show {
  opacity:1;
  visibility:visible;
}
